In [2]:
import pandas as pd

In [3]:
data = "Survey_Data_Raw.csv"

df = pd.read_csv(data)

df.head()

,Unique ID,Email,Date Taken (America/New_York),Time Taken (America/New_York),Browser,OS,City,Country,Referrer,Time Spent,...,Q6 - How Happy are you in your Current Position with the following? (Management),Q6 - How Happy are you in your Current Position with the following? (Upward Mobility),Q6 - How Happy are you in your Current Position with the following? (Learning New Things),Q7 - How difficult was it for you to break into Data?,"Q8 - If you were to look for a new job today, what would be the most important thing to you?",Q9 - Male/Female?,Q10 - Current Age,Q11 - Which Country do you live in?,Q12 - Highest Level of Education,Q13 - Ethnicity
0,62a33b3db4da29969c62df3d,anonymous,6/10/2022,8:38,NaN,NaN,NaN,NaN,NaN,0:00:44,...,5.0,5.0,7.0,Very Difficult,Remote Work,Male,26,United States,NaN,White or Caucasian
1,62a33ba1bae91e4b8b82e35c,anonymous,6/10/2022,8:40,NaN,NaN,NaN,NaN,NaN,0:01:30,...,2.0,1.0,3.0,Very Difficult,Remote Work,Male,36,Canada,NaN,Asian or Asian American
2,62a33c2cbc6861bf3176bec1,anonymous,6/10/2022,8:42,NaN,NaN,NaN,NaN,NaN,0:02:18,...,5.0,7.0,7.0,Easy,Good Work/Life Balance,Male,23,Other (Please Specify):Nigeria,NaN,Black or African American
3,62a33c8624a26260273822f9,anonymous,6/10/2022,8:43,NaN,NaN,NaN,NaN,NaN,0:02:10,...,10.0,7.0,10.0,Very Easy,Remote Work,Female,35,Canada,NaN,White or Caucasian
4,62a33c91f3072dd892621e03,anonymous,6/10/2022,8:44,NaN,NaN,NaN,NaN,NaN,0:01:51,...,4.0,0.0,1.0,Difficult,Better Salary,Male,44,United States,NaN,Black or African American

In [4]:
df.columns

Index(['Unique ID', 'Email', 'Date Taken (America/New_York)',
       'Time Taken (America/New_York)', 'Browser', 'OS', 'City', 'Country',
       'Referrer', 'Time Spent',
       'Q1 - Which Title Best Fits your Current Role?',
       'Q2 - Did you switch careers into Data?',
       'Q3 - Current Yearly Salary (in USD)',
       'Q4 - What Industry do you work in?',
       'Q5 - Favorite Programming Language',
       'Q6 - How Happy are you in your Current Position with the following? (Salary)',
       'Q6 - How Happy are you in your Current Position with the following? (Work/Life Balance)',
       'Q6 - How Happy are you in your Current Position with the following? (Coworkers)',
       'Q6 - How Happy are you in your Current Position with the following? (Management)',
       'Q6 - How Happy are you in your Current Position with the following? (Upward Mobility)',
       'Q6 - How Happy are you in your Current Position with the following? (Learning New Things)',
       'Q7 - How difficult was it for you to break into Data?',
       'Q8 - If you were to look for a new job today, what would be the most important thing to you?',
       'Q9 - Male/Female?', 'Q10 - Current Age',
       'Q11 - Which Country do you live in?',
       'Q12 - Highest Level of Education', 'Q13 - Ethnicity'],
      dtype='object')

In [5]:
df = df.drop(['Email','Browser', 'OS', 'City', 'Country',
       'Referrer'], axis=1)

df.columns

Index(['Unique ID', 'Date Taken (America/New_York)',
       'Time Taken (America/New_York)', 'Time Spent',
       'Q1 - Which Title Best Fits your Current Role?',
       'Q2 - Did you switch careers into Data?',
       'Q3 - Current Yearly Salary (in USD)',
       'Q4 - What Industry do you work in?',
       'Q5 - Favorite Programming Language',
       'Q6 - How Happy are you in your Current Position with the following? (Salary)',
       'Q6 - How Happy are you in your Current Position with the following? (Work/Life Balance)',
       'Q6 - How Happy are you in your Current Position with the following? (Coworkers)',
       'Q6 - How Happy are you in your Current Position with the following? (Management)',
       'Q6 - How Happy are you in your Current Position with the following? (Upward Mobility)',
       'Q6 - How Happy are you in your Current Position with the following? (Learning New Things)',
       'Q7 - How difficult was it for you to break into Data?',
       'Q8 - If you were to look for a new job today, what would be the most important thing to you?',
       'Q9 - Male/Female?', 'Q10 - Current Age',
       'Q11 - Which Country do you live in?',
       'Q12 - Highest Level of Education', 'Q13 - Ethnicity'],
      dtype='object')

Cleaning Q5 - Favorite Programming Language

In [6]:
# find all lines of text with the string 'sql' case insensitive 
p = '(?i)SQL'
len(df[df['Q5 - Favorite Programming Language'].str.contains(p)])

52

In [7]:
#SQL loc
#value count check matches 

df.loc[df['Q5 - Favorite Programming Language'].str.contains('SQL', case=False), 'Q5 - Favorite Programming Language'] = 'SQL'

In [8]:
# check instance vba and excel 
# 5 combined  
p = '(?i)vba'
len(df[df['Q5 - Favorite Programming Language'].str.contains(p)])

2

In [9]:
#excel and vba loc
#value count check matches 

df.loc[df['Q5 - Favorite Programming Language'].str.contains('excel|vba', case=False), 'Q5 - Favorite Programming Language'] = 'Excel'

In [10]:
#check instance of 'don't', 'none', 'unknown', 'not' and 'na' 
p = "(?i)not"
len(df[df['Q5 - Favorite Programming Language'].str.contains(p)])

1

In [11]:
# loc of 'don't', 'none', 'unknown', 'not' and 'na' 

df.loc[df['Q5 - Favorite Programming Language'].str.contains('don|none|unknown|not|na', case=False), 'Q5 - Favorite Programming Language'] = 'None'

In [12]:
# loc dax 5
df.loc[df['Q5 - Favorite Programming Language'].str.contains('dax', case=False), 'Q5 - Favorite Programming Language'] = 'DAX'

In [13]:
#loc sas 2
df.loc[df['Q5 - Favorite Programming Language'].str.contains('sas', case=False), 'Q5 - Favorite Programming Language'] = 'SAS'

In [14]:
#all other instances have a count of 1, so reduce to 'other' 

df.loc[df['Q5 - Favorite Programming Language'].str.contains('other', case=False), 'Q5 - Favorite Programming Language'] = 'Other'

In [24]:
df.value_counts('Q5 - Favorite Programming Language')

Q5 - Favorite Programming Language
Python        420
R             101
SQL            52
Other          17
None           14
C/C++           7
JavaScript      6
DAX             5
Excel           5
SAS             2
Java            1
dtype: int64

Title

In [30]:
titles = pd.DataFrame(data = df.value_counts('Q1 - Which Title Best Fits your Current Role?'))

In [31]:
titles

                                                 0
Q1 - Which Title Best Fits your Current Role?
Data Analyst                                   381
Student/Looking/None                            90
Data Engineer                                   38
Data Scientist                                  25
Other (Please Specify):Business Analyst          6
...                                            ...
Other (Please Specify):Data Steward              1
Other (Please Specify):Data Scientist Intern     1
Other (Please Specify):Data Manager              1
Other (Please Specify):Data Integrity            1
Other (Please Specify):Finance Analyst           1

[83 rows x 1 columns]

In [44]:
titles.reset_index(inplace=False)
titles = titles.rename(columns = {'Q1 - Which Title Best Fits your Current Role?':'title', 0:'count'})

In [50]:
with pd.option_context('display.max_rows', None,
                       'display.max_columns', None,
                       'display.precision', 3,
                       ):
    print(titles)

                                                title  count
0                                        Data Analyst    381
1                                Student/Looking/None     90
2                                       Data Engineer     38
3                                      Data Scientist     25
4             Other (Please Specify):Business Analyst      6
5                                  Database Developer      5
6           Other (Please Specify):Analytics Engineer      4
7                                      Data Architect      3
8                              Other (Please Specify)      2
9            Other (Please Specify):Analytics Manager      2
10           Other (Please Specify):Business Analyst       2
11               Other (Please Specify):Reporting Adm      1
12                 Other (Please Specify):RF Engineer      1
13               Other (Please Specify):Product owner      1
14          Other (Please Specify):Presales Engineer       1
15          Other (Please Specify):Predictive Analyst      1
16          Other (Please Specify):Power Bi Developer      1
17  Other (Please Specify):Manager of a team of Da...      1
18                         Other (Please Specify):PMO      1
19   Other (Please Specify):Marketing Data Specialist      1
20  Other (Please Specify):Manager, Business Intel...      1
21         Other (Please Specify):Research Associate       1
22                    Other (Please Specify):Manager       1
23  Other (Please Specify):Learning Management Spe...      1
24    Other (Please Specify):Junior Software Engineer      1
25          Other (Please Specify):Jr. Data Scientist      1
26            Other (Please Specify):Research Analyst      1
27           Other (Please Specify):Sales & marketing      1
28                Other (Please Specify):Researchers       1
29        Other (Please Specify):SAP Security Analyst      1
30           Other (Please Specify):software engineer      1
31               Other (Please Specify):Web Developer      1
32          Other (Please Specify):Technical consulta      1
33                     Other (Please Specify):Teacher      1
34               Other (Please Specify):Tableau admin      1
35      Other (Please Specify):Systems configuration       1
36        Other (Please Specify):System Administrator      1
37            Other (Please Specify):Support Engineer      1
38  Other (Please Specify):Student working as a da...      1
39   Other (Please Specify):Sr. Supply Chain Analyst       1
40            Other (Please Specify):Software support      1
41      Other (Please Specify):Software Engineer, AI       1
42         Other (Please Specify):Software Developer       1
43     Other (Please Specify):Senior Business Analyst      1
44            Other (Please Specify):Insights analyst      1
45    Other (Please Specify):Investigation specialist      1
46           Other (Please Specify):Financial Analyst      1
47      Other (Please Specify):Informatics Specialist      1
48            Other (Please Specify):Incident Manager      1
49           Other (Please Specify):Business analyst       1
50  Other (Please Specify):Business Intelligence E...      1
51  Other (Please Specify):Business Intelligence D...      1
52  Other (Please Specify):Business Intelligence C...      1
53  Other (Please Specify):Business Intelligence A...      1
54             Other (Please Specify):Business Analys      1
55             Other (Please Specify):Billing analyst      1
56              Other (Please Specify):BI consultant       1
57                  Other (Please Specify):BI Manager      1
58               Other (Please Specify):BI Developer       1
59       Other (Please Specify):Analytics Consultant       1
60  Other (Please Specify):Analyst Primary Market ...      1
61                     Other (Please Specify):Analyst      1
62              Other (Please Specify):Ads operations      1
63             Other (Please Specify):Account manager      1
64                  Other (Please Specify):Consultant      1
65  Other (Please Specify):Continuous Quality Impr...      1
66                         Other (Please Specify):DBA      1
67  Other (Please Specify):Director of Data Analytics      1
68  Other (Please Specify):I work with data tools ...      1
69                Other (Please Specify):GIS Analyst       1
70                Other (Please Specify):FP&A Analyst      1
71                    Other (Please Specify):Educator      1
72                      Other (Please Specify):Driver      1
73  Other (Please Specify):Does a social media ana...      1
74                    Other (Please Specify):Director      1
75            Other (Please Specify):Data Coordinator      1
76            Other (Please Specify):Database Manager      1
77                Other (Please Specify):Data manager      1
78                Other (Please Specify):Data Steward      1
79       Other (Please Specify):Data Scientist Intern      1
80                Other (Please Specify):Data Manager      1
81              Other (Please Specify):Data Integrity      1
82            Other (Please Specify):Finance Analyst       1

categories to regroup other: (starting round, then see remaining others)
* business intelligence/analyst (other + business | intelligence | bi)
* data sci (add to top category) (other + scien)
* other analyst (other + analyst NOT business)
* software (software)

list comprehension

see ETL clean kaggle data / ETL clean wiki movies 

or use loc as done in q5 above?

Industry

Country

Ethnicity

Current Yearly Salary

Export to CSV